.container-total{
    height: 1000px;
}

.img-fondo
{
    /* background-image: url('/static/imagenes/fondo.png'); */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
}

.img-fondo-lista
{
    background-repeat: repeat;
    /* height: 100%; */
    /* width: 100%; */
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
    opacity: 0.5;
}

.img-fondo-login
{
    /* background-image: url('/static/imagenes/fondo.png'); */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
}

.img-lista{
    height: 200px;
    width: auto;
    max-height: 100%;
}

.presentacion{
    display: flex;
    height: 920px;
    align-content: center;
    justify-content: center;
    align-items: center
}

.frases{
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 30%;
    border-radius: 20px;
    border: 5px solid;
    padding: 10px;
}

.base{
    display: flex;
    flex-direction: row;
    height: 920px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.col-6-1{
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid;
    padding: 10px;
    width: 40%;
}

.col-6-2{
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid;
    padding: 10px;
    width: 40%;
}

.container-p{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
}

.container-top{
    background-color: #5B9CCF;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}



.f-perfil{
    border-radius: 50%;
    border: 5px solid white;
    height: 200px;
    width: auto;
    max-height: 100%;
}

.d-personales{
    display: flex;
    flex-direction: column;
    border-left: 2px solid;
    border-right: 2px solid;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    padding: 10px;
    width: 45%;
}

.d-contacto{
    /* background-color: darkorange; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.enlaces{
    /* background-color: darkgreen; */
    height: 100%;
    max-height: 60%;
}

.icono{
    width: 30px;
}

.contacto{
    /* background-color: cadetblue; */
    height: 100%;
    max-height: 60%;
}

.container-bot{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.area{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    max-height: 100%;
}

.d-titulo{
    display: flex;
    background-color: lightgrey;
    padding: 10px;
}

.d-contenido{
    display: flex;
    flex-direction: column;
}

.acciones{
    background-color: #5B9CCF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}